# Preprocessing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("Amazon-Products.csv")

In [ ]:
df.head()

,Unnamed: 0,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [ ]:
print(df.isnull().sum())  # Count missing values per column

Unnamed: 0            0
name                  0
main_category         1
sub_category          1
image                 1
link                  1
ratings           26162
no_of_ratings     26162
discount_price    11513
actual_price       2611
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157976 entries, 0 to 157975
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      157976 non-null  int64
 1   name            157976 non-null  object
 2   main_category   157975 non-null  object
 3   sub_category    157975 non-null  object
 4   image           157975 non-null  object
 5   link            157975 non-null  object
 6   ratings         131814 non-null  object
 7   no_of_ratings   131814 non-null  object
 8   discount_price  146463 non-null  object
 9   actual_price    155365 non-null  object
dtypes: int64(1), object(9)
memory usage: 12.1+ MB

## Cleaning

### Drop unnecessary columns: 'image' and 'link'

In [ ]:
df.drop(columns=["image", "link"], inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157976 entries, 0 to 157975
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      157976 non-null  int64
 1   name            157976 non-null  object
 2   main_category   157975 non-null  object
 3   sub_category    157975 non-null  object
 4   ratings         131814 non-null  object
 5   no_of_ratings   131814 non-null  object
 6   discount_price  146463 non-null  object
 7   actual_price    155365 non-null  object
dtypes: int64(1), object(7)
memory usage: 9.6+ MB

In [ ]:
print(df.isnull().sum())  # Count missing values per column

Unnamed: 0            0
name                  0
main_category         1
sub_category          1
ratings           26162
no_of_ratings     26162
discount_price    11513
actual_price       2611
dtype: int64

### Remove rows with missing values in specific columns

In [ ]:
df.dropna(subset=['main_category', 'sub_category', 'actual_price', 'discount_price'], inplace=True)

In [ ]:
print(df.isnull().sum())  # Count missing values per column

Unnamed: 0            0
name                  0
main_category         0
sub_category          0
ratings           22746
no_of_ratings     22746
discount_price        0
actual_price          0
dtype: int64

### Convert 'ratings' & 'no_of_ratings' column to numeric (float)

In [ ]:
df['ratings'] = pd.to_numeric(df['ratings'], errors='coerce')  # Convert to float

In [ ]:
# Clean 'no_of_ratings' by removing commas and converting to numeric
df['no_of_ratings'] = pd.to_numeric(df['no_of_ratings'].str.replace(',', ''), errors='coerce')

### Convert 'discount_price' and 'actual_price' to numeric (int)

In [ ]:
df['discount_price'] = pd.to_numeric(df['discount_price'].str.replace(r'\D', '', regex=True), errors='coerce')

In [ ]:
df['actual_price'] = pd.to_numeric(df['actual_price'].str.replace(r'\D', '', regex=True), errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146463 entries, 0 to 157974
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      146463 non-null  int64
 1   name            146463 non-null  object
 2   main_category   146463 non-null  object
 3   sub_category    146463 non-null  object
 4   ratings         122688 non-null  float64
 5   no_of_ratings   122688 non-null  float64
 6   discount_price  146463 non-null  int64
 7   actual_price    146463 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 10.1+ MB

In [ ]:
print(df.isnull().sum())  # Count missing values per column

Unnamed: 0            0
name                  0
main_category         0
sub_category          0
ratings           23775
no_of_ratings     23775
discount_price        0
actual_price          0
dtype: int64

In [ ]:
print(f"Total duplicates: {df.duplicated().sum()}")

Total duplicates: 0

### Fill missing values in 'ratings' and 'no_of_ratings' columns with the median value

In [ ]:
df['ratings'].fillna(df['ratings'].median(), inplace=True)

<ipython-input-190-b4cca30ecd43>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ratings'].fillna(df['ratings'].median(), inplace=True)

In [ ]:
df['no_of_ratings'].fillna(df['no_of_ratings'].median(), inplace=True)

<ipython-input-191-647af9168f27>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['no_of_ratings'].fillna(df['no_of_ratings'].median(), inplace=True)

### Drop any remaining unnecessary column 'Unnamed: 0'

In [ ]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [ ]:
print(f"Total duplicates: {df.duplicated().sum()}")

Total duplicates: 5233

### Standardize and clean text columns

In [ ]:
## Standardize Text Data

import re

def clean_text(text):
    if isinstance(text, str):
        text = text.lower()  # Convert to lowercase
        text = re.sub(r"<.*?>", "", text)  # Remove HTML tags
        text = re.sub(r"[^a-zA-Z0-9\s]", "", text)  # Remove special characters
        text = re.sub(r"\s+", " ", text).strip()  # Remove extra spaces
    return text

# Apply text cleaning to relevant columns
df["name"] = df["name"].apply(clean_text)
df["main_category"] = df["main_category"].apply(clean_text)
df["sub_category"] = df["sub_category"].apply(clean_text)

In [ ]:
df.describe()

             ratings  no_of_ratings  discount_price  actual_price
count  146463.000000  146463.000000    1.464630e+05  1.464630e+05
mean        3.872751    1201.961410    5.177436e+03  4.702354e+03
std         0.603547   11290.652529    4.556837e+04  5.178014e+04
min         1.000000       1.000000    8.000000e+00  1.000000e+01
25%         3.700000      11.000000    3.580000e+02  9.500000e+02
50%         3.900000      45.000000    6.030000e+02  1.511000e+03
75%         4.200000     185.000000    1.300000e+03  2.999000e+03
max         5.000000  589547.000000    6.669526e+06  6.176505e+06

In [ ]:
df.head()

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
0,lloyd 15 ton 3 star inverter split ac 5 in 1 c...,appliances,air conditioners,4.2,2255.0,32999,58990
1,lg 15 ton 5 star ai dual inverter split ac cop...,appliances,air conditioners,4.2,2948.0,46490,75990
2,lg 1 ton 4 star ai dual inverter split ac copp...,appliances,air conditioners,4.2,1206.0,34490,61990
3,lg 15 ton 3 star ai dual inverter split ac cop...,appliances,air conditioners,4.0,69.0,37990,68990
4,carrier 15 ton 3 star inverter split ac copper...,appliances,air conditioners,4.1,630.0,34490,67790

### Save cleaned DataFrame to CSV

In [ ]:
df.to_csv("cleaned_amazon_products.csv", index=False)

# EDA

In [18]:
# Show up to 100 rows and 100 columns
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

# Optional: prevent wide columns from getting truncated
pd.set_option('display.max_colwidth', None)

In [2]:
import os

df=pd.read_csv(os.path.join(os.getcwd(), "..", "data", "cleaned_amazon_products.csv"))

In [19]:
df.head()

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
0,lloyd 15 ton 3 star inverter split ac 5 in 1 convertible copper antiviral pm 25 filter 2023 model white gls18i3,appliances,air conditioners,4.2,2255.0,32999,58990
1,lg 15 ton 5 star ai dual inverter split ac copper super convertible 6in1 cooling hd filter with antivirus protectio,appliances,air conditioners,4.2,2948.0,46490,75990
2,lg 1 ton 4 star ai dual inverter split ac copper super convertible 6in1 cooling hd filter with anti virus protection,appliances,air conditioners,4.2,1206.0,34490,61990
3,lg 15 ton 3 star ai dual inverter split ac copper super convertible 6in1 cooling hd filter with antivirus protectio,appliances,air conditioners,4.0,69.0,37990,68990
4,carrier 15 ton 3 star inverter split ac copperester dxi 4in1 flexicool inverter 2022 modelr32white,appliances,air conditioners,4.1,630.0,34490,67790

In [ ]:
# Check the list of sub category
list(df["sub_category"].unique())

['air conditioners',
 'all appliances',
 'all car motorbike products',
 'all electronics',
 'all exercise fitness',
 'all grocery gourmet foods',
 'all home kitchen',
 'all pet supplies',
 'all sports fitness outdoors',
 'amazon fashion',
 'baby bath skin grooming',
 'baby fashion',
 'baby products',
 'backpacks',
 'badminton',
 'bags luggage',
 'ballerinas',
 'beauty grooming',
 'bedroom linen',
 'camera accessories',
 'cameras',
 'camping hiking',
 'car bike care',
 'car accessories',
 'car electronics',
 'car parts',
 'cardio equipment',
 'casual shoes',
 'clothing',
 'coffee tea beverages',
 'cricket',
 'cycling',
 'diapers',
 'diet nutrition',
 'dog supplies',
 'ethnic wear',
 'fashion silver jewellery']

In [13]:
# Check top expensive of product
top_expensive = df[
    (df["sub_category"] == "air conditioners") &
    (df["actual_price"] <= 80000)
].sort_values(by="actual_price", ascending=False).head(50)
top_expensive.head(10)

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
419,lg 15 ton 5 star ai convertible 6in1 anti viru...,appliances,air conditioners,3.9,45.0,45990,79990
327,livpure 2 tons 3 star wifi inverter split ac l...,appliances,air conditioners,4.3,4.0,53240,79990
30,voltas 2 ton 3 star inverter split accopper 4i...,appliances,air conditioners,4.6,3.0,44990,79990
357,voltas 24hy hot and cold split ac 2 ton 1 star...,appliances,air conditioners,3.2,5.0,56890,79990
233,lg 15 ton 5 star ai dual inverter wifi split a...,appliances,air conditioners,4.2,54.0,48490,79990
142,carrier 15 ton 5 star hybridjet inverter split...,appliances,air conditioners,4.6,3.0,45490,79890
152,carrier 15 ton 5 star smart ai flexicool hybri...,appliances,air conditioners,5.0,1.0,45990,79890
81,lg 1 ton 5 star ai dual inverter wifi split ac...,appliances,air conditioners,4.3,274.0,42490,78990
13,carrier 15 ton 5 star ai flexicool inverter sp...,appliances,air conditioners,4.0,568.0,41999,78490
101,whirlpool 20 ton 3 star flexicool inverter spl...,appliances,air conditioners,3.9,258.0,43890,78200

In [14]:
# Check top affordable of product
top_affordable = df[(df["sub_category"] == "air conditioners")].sort_values(by="actual_price", ascending=True).head(50)
top_affordable.head(10)

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
287,risarya h20r1203 igbt 1pcs power transistor 20...,appliances,air conditioners,4.0,4.0,199,499
143,ac standheavy duty air conditioner outdoor uni...,appliances,air conditioners,5.0,2.0,599,999
122,hexzone floor ac stand certified special coate...,appliances,air conditioners,4.1,9.0,679,1249
219,hexzone tafta outdoor ac stand wall,appliances,air conditioners,3.0,1.0,599,1349
349,qawachh 3 in 1 multi function pet design mist ...,appliances,air conditioners,3.9,45.0,699,1399
177,threeh usb fan silent mini air conditioner tra...,appliances,air conditioners,4.0,1400.0,1219,1449
206,fidel tafta heavy duty air conditioner outdoor...,appliances,air conditioners,3.6,26.0,699,1499
120,allwin tafta high quality metal special coated...,appliances,air conditioners,4.6,7.0,647,1500
414,heavy duty air conditioner outdoor ac stand,appliances,air conditioners,3.9,45.0,899,1750
368,ac outdoor stand for 1 ton and 15 ton,appliances,air conditioners,3.9,45.0,1200,1999

In [15]:
# Check top affordable of product
top_affordable = df[(df["sub_category"] == "air conditioners")].sort_values(by="actual_price", ascending=True).head(50)
top_affordable.head(10)

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
287,risarya h20r1203 igbt 1pcs power transistor 20...,appliances,air conditioners,4.0,4.0,199,499
143,ac standheavy duty air conditioner outdoor uni...,appliances,air conditioners,5.0,2.0,599,999
122,hexzone floor ac stand certified special coate...,appliances,air conditioners,4.1,9.0,679,1249
219,hexzone tafta outdoor ac stand wall,appliances,air conditioners,3.0,1.0,599,1349
349,qawachh 3 in 1 multi function pet design mist ...,appliances,air conditioners,3.9,45.0,699,1399
177,threeh usb fan silent mini air conditioner tra...,appliances,air conditioners,4.0,1400.0,1219,1449
206,fidel tafta heavy duty air conditioner outdoor...,appliances,air conditioners,3.6,26.0,699,1499
120,allwin tafta high quality metal special coated...,appliances,air conditioners,4.6,7.0,647,1500
414,heavy duty air conditioner outdoor ac stand,appliances,air conditioners,3.9,45.0,899,1750
368,ac outdoor stand for 1 ton and 15 ton,appliances,air conditioners,3.9,45.0,1200,1999

In [ ]:
# Check high rating of product
high_rating = df[(df["sub_category"] == "air conditioners")].sort_values(by="ratings", ascending=False).head(50)
high_rating.head(10)

,name,main_category,sub_category,ratings,no_of_ratings,discount_price,actual_price
96,panasonic 15 ton 3 star hot and cold wifi inve...,appliances,air conditioners,5.0,2.0,43990,61400
313,voltas split air conditioner sac 185v cazz whi...,appliances,air conditioners,5.0,1.0,39489,71990
308,lg 1 ton 3 star split dual inverter ac white m...,appliances,air conditioners,5.0,5.0,35490,54990
114,voltas 1 ton 5 star inverter split accopper 4i...,appliances,air conditioners,5.0,1.0,37290,44990
306,carrier estrella dx 24k 2 star window ac with ...,appliances,air conditioners,5.0,1.0,42120,51390
305,midea 15 ton 3 star split ac copper hd filter ...,appliances,air conditioners,5.0,1.0,50570,56190
132,onida 15 ton 3 star inverter split ac copper 2...,appliances,air conditioners,5.0,1.0,33990,43900
254,godrej 1 ton 3 star inverter split ac gic 12tt...,appliances,air conditioners,5.0,1.0,28650,40990
253,voltas adjustable inverter ac 15 ton 3 star183...,appliances,air conditioners,5.0,1.0,36990,56990
250,o general 2 ton 5 star inverter split ac coppe...,appliances,air conditioners,5.0,1.0,82260,85260